.not-found-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 13%;
}

.error-code {
    font-size: 120px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
}

.error-message {
    font-size: 36px;
    font-weight: bold;
    color: #495057;
    margin-bottom: 10px;
}

.error-description {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 20px;
}

.home-button {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #8f1a95;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #8f1a95;
}