.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.custom-card {
  max-width: 550px;
  border-radius: 25px;
  width: 100%;
  margin-bottom: 20%;
}

mat-form-field {
  width: 100%;
}

.icon-large {
  font-size: 35px;
  height: 40px;
  width: 36px;
  position: relative;
  left: 4px;
  top: 14px;
}

.center-button {
  display: block;

}
.mat-mdc-card-content:last-child {
  padding-bottom: 37px;
}
.closepopup {
position: absolute;
top: 5px;
right: 1%;
}
/* #clicked:active{
box-shadow: 0 0 1px 2px rgb(46, 61, 145);
} */
